body{
    font-family: 'Inter' !important;
    background-image: url('images/Homepage.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.flexbox{
    display: flex;
    justify-content: space-between;
    margin: 60px;
    align-items: center;
}
.navtext{
    display: flex;
    gap: 64px;
    align-items: center;
}
.navtext p{
    font-weight: 600;
    font-size: 18px;
    color: #4A5270;
}
.navtext .navactive{
    color: #4A5270;
    font-weight: 800;
    font-size: 18 px;
}
.slider{
    margin: 0px 60px 60px 60px;
    display: flex;
    justify-content: space-between;  
}

 p{
    margin: 0px;
    font-size: 90px;
    color: #4A5270;
    font-weight: 800;
    font-family: 'Inter';
}

.slider .img1{
    width: 70%;
    height: auto;
}
.slider .img2{
    width: 50%;
    height: 20%;
    object-position: left;
}
.button{
    text-decoration: none;
    background: rgb(154,224,211);
    background: linear-gradient(120deg, rgba(154,224,211,1) 54%, rgba(151,148,148,1) 100%);
    color: #4A5270;
    padding: 12px 24px;
    border-radius: 8px;
}
 .login{
    height: 550px;
    width: 450px;
    position: relative;
}
.text{
    position: absolute;
} 
.login1{
    font-size: 32px;
    color: #4A5270;
    font-weight: bolder;
}
