body{
    font-family: 'Inter';
    background-image: url('images/Homepage.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.flexbox{
    display: flex;
    justify-content: space-between;
    margin: 60px;
    align-items: center;
}
.navtext{
    display: flex;
    gap: 64px;
    align-items: center;
}
.navtext p{
    font-weight: 600;
    font-size: 18px;
    color: #4A5270;
}
.navtext .navactive{
    color: #4A5270;
    font-weight: 800;
    font-size: 18 px;
}
.slider{
    margin: 0px 60px 60px 60px;
    display: flex;
    justify-content: space-between;  
    font-size: 90px;   
}
.slider img{
    width: 759px;
    height: 777px;
    length: 693px;
    breadth: 145px;
}
.button{
    text-decoration: none;
    background-color: #FFB3B3;
    color: #4A5270;
    padding: 12px 24px;
    border-radius: 8px;
    
}
